
@{
    Layout = null;
}

<!DOCTYPE html>


<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="viewport" content="width=device-width" />

    <title>Login</title>
    <!-- Bootstrap CSS -->
    @Styles.Render("~/Content/boostrapLogin")
    @Scripts.Render("~/bundles/jquery")
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
    <style>
        .divider:after,
        .divider:before {
            content: "";
            flex: 1;
            height: 1px;
            background: #eee;
        }

        .h-custom {
            height: calc(100% - 73px);
        }
    </style>

</head>
<body>
    <div>
        <section class="vh-100">
            <div class="container-fluid h-custom">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-9 col-lg-6 col-xl-5">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                             class="img-fluid" alt="Sample image">
                    </div>
                    <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                        <form method="post" id="form" action="~/Login/IniLogin">
                            @ViewData["message"]
                            @Html.AntiForgeryToken()


                            <div class="divider d-flex align-items-center my-4">
                                <p class="text-center fw-bold mx-3 mb-0">Iniciar sesión</p>
                            </div>

                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input type="text" id="usu_login" name="usu_login" class="form-control form-control-lg "
                                       placeholder="Ingrese usaurio" required />
                                <label class="form-label" for="form3Example3">Usuario</label>
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-3">
                                <input type="password" id="usu_password" name="usu_password" class="form-control form-control-lg "
                                       placeholder="Ingrese contraseña" required />
                                <label class="form-label" for="form3Example4">Constraseña</label>
                            </div>



                            <div class="text-center text-lg-start mt-4 pt-2">
                                <button type="submit" class="btn btn-primary btn-lg"
                                        style="padding-left: 2.5rem; padding-right: 2.5rem;">
                                    Ingresar
                                </button>
                                <p class="small fw-bold mt-2 pt-1 mb-0">
                                    ¿No tienes cuenta? @Html.ActionLink("Registrate", "Registar", "Login")

                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
                <!-- Copyright -->
                <div class="text-white mb-3 mb-md-0">
                    @DateTime.Now.Year Personas.
                </div>
                <!-- Copyright -->
                <!-- Right -->
                <div>
                    <a href="#!" class="text-white me-4">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#!" class="text-white me-4">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#!" class="text-white me-4">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="#!" class="text-white">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
                <!-- Right -->
            </div>
        </section>
    </div>

    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>


    <script>

            let message = @Html.Raw(Json.Encode(Session["message"]));
            let tipo = @Html.Raw(Json.Encode(Session["tipo"]));
            console.log(message)
            if (message != null &&  message != "" ) {
                messageView(tipo,message )
            }

            function messageView(tipo, messagetext) {
                if (tipo == "Ok") {
                    toastr.success(messagetext, '¡Completado!', {
                        timeOut: 5000
                    });

                } else {
                    toastr.error(messagetext, '¡Error!', {
                        timeOut: 5000
                    });
                }

            }
    </script>

    @{
        Session.Contents.Remove("message");
        Session.Contents.Remove("tipo");
    }


</body>
</html>
