@model MiProyecto.Models.personas

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Index.cshtml";
}
<br />
<div style="background: #fff">
    <div style="padding:2%">
        <h2>Editar</h2>

        @using (Html.BeginForm(new { @class = "needs-validation" }))
        {
            @Html.AntiForgeryToken()

            <div>
                <h4>Persona</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.id)
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label class="control-label col-md-2" for="indentifiacion">Nombre</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        
                    </div>
                </div>

                <div class="col-md-6 mb-3">
                    <label class="control-label col-md-2" for="indentifiacion">Apellido</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.apellido, new { htmlAttributes = new { @class = "form-control", required = "required" } })

                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label class="control-label col-md-2" for="indentifiacion">Documento</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.indentifiacion, new { htmlAttributes = new { @class = "form-control", required = "required" } })

                    </div>
                </div>

                <div  class="col-md-6 mb-3">
                    <label class="control-label col-md-2" for="indentifiacion">Correo</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                       
                    </div>
                </div>

                <div  class="col-md-6 mb-3">
                    <label class="control-label col-md-8" for="indentifiacion">Tipo de documento</label>
                    <div class="col-md-10">
                        @Html.DropDownList("id_identificacion", null, htmlAttributes: new { @class = "form-control" })
                       
                    </div>
                </div>
            </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Guardar" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Volver al inicio", "Index")
        </div>
    </div>
</div>